@model IEnumerable<LMDH_QS.Models.Queue>

@foreach (var item in Model)
{
    var rowClass = item.Status switch
    {
        "Consultation Serving" => "bg-warning bg-opacity-25 fw-semibold",
        "Consultation Standby" => "bg-success bg-opacity-25",
        "Done" => "bg-primary bg-opacity-25",
        "Skipped" => "bg-danger bg-opacity-25",
        _ => ""
    };

    <tr class="@rowClass border-bottom border-2 border-light">
        <td class="py-2">@item.Department</td>
        <td class="py-2">@item.VisitTime.ToString(@"hh\:mm")</td>
        @* <td class="py-2">@item.PatientName</td> *@
        <td class="py-2 fw-bold text-dark">@($"{item.DeptCode}{item.QueueNumber:D3}")</td>
        <td class="py-2">
            <span class="badge rounded-pill fs-6 bg-@(item.Status switch
                  {
                      "Consultation Serving" => "warning text-dark",
                      "Skipped" => "danger",
                      "Done" => "primary",
                      "Consultation Standby" => "success",
                      _ => "secondary"
                  })">
            @item.Status
        </span>
    </td>
</tr>
}

