@model IEnumerable<LMDH_QS.Models.Queue>

@foreach (var item in Model)
{
    <tr id="row-@item.Id"
        class="@(item.Status == "Consultation Serving" ? "bg-warning text-dark"
                : item.Status == "Consultation Standby" ? "bg-success text-white"
                : item.Status == "Skipped" ? "bg-danger text-white"
                : item.Status == "Done" ? "bg-info text-dark"
                : "")">


    <td>@item.Department</td>
    <td>@item.VisitTime.ToString(@"hh\:mm")</td>
    <td>@item.PatientName</td>
    <td class="fw-bold">@($"{item.DeptCode}{item.QueueNumber:D3}")</td>
    <td>
        @if (item.Status == "Consultation Serving" || item.Status == "Consultation Missed" || item.Status == "Consultation Standby")
            {
                var isoDate = item.VisitDate.ToString("yyyy-MM-ddTHH:mm:ss");

                <div class="d-flex justify-content-center gap-2">
                    @* 
                        * Staff calls the next patient -> update text from call to repeat call -> bg color warning -> status serving  
                        * kung wala ang patient pindutin ang Missed -> update status to 'Missed' -> show in Missed Table -> can click button Requeue to back in Queues
                        * kung tapos na pindutin ang Next 
                    *@
                    <button class="btn btn-primary btn-sm" onclick="updateStatus('@item.PatientIdentification', 'CallForConsultation', '@isoDate', '@item.Department')">Call</button>

                    @* Next - Done Pre-assessment -> update status to Done -> removed in Queue*@
                    <button class="btn btn-dark btn-sm" onclick="updateStatus('@item.PatientIdentification', 'Done', '@isoDate', '@item.Department')">Done</button>

                    @* Missed - update status to 'Missed' -> show in Missed Table -> can click button Requeue to back in Queues *@
                    <button class="btn btn-secondary btn-sm" onclick="updateStatus('@item.PatientIdentification', 'Missed', '@isoDate', '@item.Department')">
                        Missed
                    </button>
                </div>
            }
        </td>
    </tr>
}

